extends ./layout.jade

block content
  .hero
    h1
      span Ashtanga Yoga * Renée Cerro
    .coming
      b coming soon...#{" "}
      | until then email:#{" "}
      a(href="mailto:ashtangarenee@icloud.com") ashtangarenee@icloud.com
    .authorised
      .inner KPJAYI authorised level 2
