doctype html
html
  head
    meta(name="viewport", content="width=device-width, initial-scale=1")
    title Ashtanga Yoga * Renée Cerro
    script(src="/js/vendor.js")
    script(src="/js/app.js")
    link(rel="stylesheet", href="/css/app.css")
  body
    block content
